/* Style for the main hero section */
.web-page {
  box-sizing: border-box;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/background_home.jpg');
  background-size: cover;
  background-position: center;
}


.hero-button{
  display: flex;
  margin-top: 30px;
  gap: 100px;
  justify-content: center;
}

/* Hero content - text and buttons */
.landing-section {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.hero-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-content h1 {
  font-size: 60px; /* Adjust heading size */
  margin: 0px;
  padding: 0px;
}
.hero-content p {
  font-size: 20px;
}

/* Button styling */
.services-btn, .contactus-btn {
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 30px;
  width: auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease , color 0.3s ease;
}

.services-btn {
  background-color: #f7b50f;
  color:white;
}

.services-btn:hover {
  background-color: white;
  color: #FE9400;
}

.contactus-btn {
  background-color: #f7b50f;
  color:white;
}

.contactus-btn:hover {
  background-color: white;
  color: #FE9400;
}

.landing-page img {
  width: 30%;
  height: auto;
} 

.body-section{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.body-section .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Text Card Styling */
.text-card {
  color: #ffffff;
  width: 60%;
}

.text-card h2{
  font-size: 32px;
}

.text-card p{
  font-size: 20px;
  line-height: 1.6;
}

.illustration{
  height: 250px;
}

/* .text-card h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-card p {
  font-size: 20px;
  line-height: 1.6;
} */

/* Illustration Styling
.illustrations-row {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 60%;
  z-index: 3;
}

.illustration_2 {
  max-width: 300px;
  height: auto;
  margin-left: 60%;
  position: relative;
  z-index: 2;
} */

/* Responsiveness with different size of rsolution*/
@media (max-width: 1200px) {
  .hero-content {
    width: 80%;
    top: 20%;
  }

  .hero-content h1 {
    font-size: 3.5vw;
  }

  .hero-content p {
    font-size: 1.2vw;
  }

  .services-btn, .contactus-btn {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }

  .hero-content h1 {
    font-size: 3vw;
  }

  .hero-content p {
    font-size: 1.1vw;
  }

  .illustration_1 {
    width: 30vw;
    right: 5%;
  }

  .hero-button {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hero-content {
    top: 30%;
    width: 95%;
  }

  .hero-content h1 {
    font-size: 2.5vw;
  }

  .hero-content p {
    font-size: 1vw;
  }

  .illustration_1 {
    width: 40vw;
  }

  .pservices-btn, .contactus-btn {
    padding: 8px 15px;
  }
}
